.fill-registration-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: fit-content;
    height:fit-content;
    box-sizing: border-box;
    color: --var(--text_primary);
}
.fill-form{
    gap:10px;
}
.fill-form-content{
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    background-color:white;
    justify-content: flex-start;
    border: 1px solid black;
    border-color:rgb(194, 200, 208);
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

span h1{
    color: white;
}

.fill-form button:hover{
    background-color:var(--primary_bg);
    color:var(--sidebar);
    border-color: var(--sidebar);
    border: 2px solid var(--sidebar);
    font-weight: 600;
}
.fill-form span{
    color:var(--sidebar);
    align-self: center;
}
.option-search span{
    font-weight: 600;
    cursor: pointer;
}
.option-search{
    padding-top: 10px;
    align-self: center;
}
.option-search span:hover{
    text-decoration: underline;

}
