.message-row{
    display: flex;
    flex-direction: column;
}
.sender{
    align-items: flex-end;
}
.receiever{
    align-items: start;
}
.message-card{
    padding:10px;
    border-radius: 10px;
    min-width: 75px;
    max-width: max-content

}
.sender-box{
    background-color:#A28DC4;
}
.reciever-box{
    background-color:var(--primary_bg);
}

.message-time{
    font-size: 10px;
    color: var(--stroke_primary);
}