.sender{
    justify-content: flex-end;
}
.sender.message-card{
    padding:10px;
    width: max-content;
    background-color:#A28DC4;
}
.reciever.message-card{
    padding:10px;
    width: max-content;
    background-color:var(--primary_bg);
}
.receiever{
    justify-content: flex-end;
}
.message-time{
    font-size: 10px;
    color: var(--stroke_primary);
}