*{
    margin: 0px;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
}
.main{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.app-hero{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.with-shadow {
    box-shadow: 0 5px 4px rgba(28, 41, 59, 0.1);
    transition: box-shadow 0.3s;
}
.header{
    background-color:var(--white);
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
a{
    font-size:16px ;
    text-decoration: none;
    color:var(--text_primary);
    padding:20px;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

.menu{
    color:var(--tex_primary);
    padding:5px;
}
.menu-app-toggle,.menu-toggle {
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}
  
.menu-toggle.open,.menu-app-toggle.open {
    display: block;
}
  
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}
  
.nav-links.open {
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    padding: 1rem;
}
  
.nav-links.open li {
    margin: 0.5rem 0;
}

.logo-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-hero-content{
    /* width: 100%; */
    height: 100vh;
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    justify-content:space-between;
    padding-top: 150px;
}
.app-logo{
    height: 50px;
    width: 100px;
    padding-left: 25px;
}
.app-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
@media (max-width: 768px) {
    .menu-app-toggle {

        padding-top: 20px;
        display: block;
     }
     .menu-toggle {       
        display: block;
     }
   
     .nav-links {
        display: none;
     }
   
     .nav-links.open {
        display: flex;
     }
 }
.about-us{
    color:white;
    padding:40px;
}
.about-us p{
    padding-top: 20px;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 1.5;
    text-align:left;
    font-size: 18px; 
}
.landing{
    width: 100%;  
    max-width: 100%;  
    height: auto;
    flex-shrink: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column; 
    flex-shrink: 1;

}
.landing h1{
    font-size:64px;
}
.landing h2{
    font-size: 36px;
    font-weight: normal;
};
.illustration-img{
    min-width: 600px;
    min-height: 400px;
}
.illustration-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-img {
    display: flex;
    height: auto;
    object-fit: cover;
    flex-shrink: 1;
}
  

.btnStart {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-primary-dark);
    color:white;
    width: 150px;
    font-size: 18px;
    height: 30px;
}
.btnStart a{
    padding: 5px 0px;
}
.btnStart a:hover{
    text-decoration: none;
    font-weight: 600;
       
}
.detail-content{
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 50px 0;
}
.about-details{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.about-text {
    padding: 35px;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    color:rgb(119, 119, 119);   
    font-family:"Helvetica Neue", sans-serif;
    font-size:15px;
    font-weight:400;
}
.about-text h3 {
    font-size:24px;
    margin:0 0 20px;
    color: var(--text_primary);
}
.about-text h2 {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 32px;
    color: var(--text_primary);
}
.after {
    background: linear-gradient(to right, var(--purple) 0%, var(--purple) 100%);
    height: 4px;
    width: 60px;
}
.about-text li {
    margin-bottom: 6px;
    margin-left: 6px;
    list-style: none;
    padding: 0;
  }
.about-text p {
    max-width: 1000px;
    line-height: 24px;
    margin: 30px 0;
  }
.lst{
    display: flex;
    flex-direction: column;
    gap:4px;
    justify-content: flex-start;
    align-items: flex-start;
}
.check{
    color:var(--purple);
}

.contact-content{
    width: 100%;
    height:fit-content;
    background-color: var(--primary_bg);
    display: flex;
    flex-direction: row;
    gap:20px;
    padding: 50px 0;
    color:var(--tex_primary)
    
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.contact-form {
    padding: 35px;
    display: flex;
    flex-direction: column;

    box-sizing:border-box;
    color:rgb(119, 119, 119);   
    font-family:"Helvetica Neue", sans-serif;
    font-size:15px;
    font-weight:400;
}

.contact-form h2 {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 32px;
    color:var(--text_primary);
}
.contact-form .after {
    background: linear-gradient(to right, var(--purple) 0%, var(--purple) 100%);
    height: 4px;
    width: 60px;
    
 }

.contact-message{
    padding:10px 10px;
}
.contact-form p {
    max-width: 1000px;
    line-height: 24px;
    margin: 30px 0;
    color:var(--text_primary);
}
@media (max-width: 850px) {
    .contact-form{
        width: 100%;
    }
    .contact-content {
      flex-direction: column; 
      align-items: center;
    }
    .contact-details,
    .contact-right {
      width: 100%; 
      max-width: none;
      padding-top: 0px;
      padding: 15px;
    }
    .info-details{
        padding: 10px 50px;
        gap:50px;
        display: flex;
        flex-direction: row;
    }
    .contact-right h2{
        padding-left: 35px;
    }
    .hero-content{
        align-items: center;
    }
}
.footer-info-row{
    align-items: center;
}
.icon-top{
    gap:10px;
}
.info{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.footer{
    padding: 20px;
    background-color:var(--secondary);
    color:var(--text_secondary);
    display: flex;
    flex-direction: column;
    align-items: center;

}
