.side-logo{
    display: flex;
    padding-left: 35px;
    padding-bottom: 75px;
}
.sidebar{
    background-color: var(--sidebar);
    width:380px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.tab-list{
    display:flex;
    flex-direction: column;
    gap: 20px;
}