
.new-opp-form-container{
    padding: 15px;
}
.new-opp-header{
    align-items: center;
    background-color: var(--sidebar);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px 20px 0px 0px;
}
.new-opp-header span{
    color: var(--white, #FFF);
    /* font-family: Inter; */
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
}
.new-opp-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 30px;
    padding: 20px;
  }
  
.newopp-grid-item {
    padding: 10px;
}