.notif-container{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.clear-all{
    font-size: 18px;
    font-weight: 700;
    color:var(--red);
}
.notif-content{
    justify-content: flex-end;
}
.ReactModal__Content .ReactModal__Content--after-open{
    position: fixed;
    left:auto;
    top:0;
    bottom: 0;
    right: 0;
    width: 40%;;
}
.notif-cards-container{
    overflow:scroll;
    width: 100%;
    padding: 10px;
    gap: 20px;
    background-color: transparent;
}
.notif-cards-container::-webkit-scrollbar {
    width: 8px;
}
