.base-input-row {
    align-items: start;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    display: flex; 
    max-width: 100%;
    /* max-width: 350px;  */
    margin: 0 auto;
}
  
.base-input-row > label {
    margin-bottom: 5px;
    
}
.base-input-row input[type="file"] {
    background-color: var(--white);
    padding: 0px;
    display: inline-block;
    justify-content: flex-end;
}
.base-input-row  input {
    height:42px;
    padding:10px;
    background-color:var(--white);
    border-color:var(--stroke_primary);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color:var(--text_primary);
    outline-color:var(--secondary);
    outline-style: none;
    border-radius: 5px;
    width:250px;
    max-width: 100%;
    min-width: 0;
}
.base-input-row  input:focus {
    color:rgb(111, 119, 128);
    border-color: var(--color-primary-dark);
}

.search input{
    height:42px;
    padding:10px;
    background-color:transparent;
    border-color:var(--stroke_primary);
    border-style: none;
    border-width: 1px;
    box-sizing: border-box;
    color:var(--text_primary);
    outline-color:var(--secondary);
    outline-style: none;
    border-radius: 15px;
    width: 100%;
}

.icon-input-row{
    display: flex;
    align-items: center;
    gap:5px;
}

.base-input-row input[type="file"]::-webkit-file-upload-button {
    background-color: var(--purple);
    border-style: none;
    padding: 15px;
    margin: 0px;
    color: var(--white);
    display: flex;
    justify-content:flex-end;
    position: relative;
    left:150px;
}
.no-border input{
    border-style: none;
    width: 100%;
}