.edit-org-info{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center
}
.org-details{
    padding-left:20px;
    padding-right: 20px;
}
.admin-org-info-container{
    width: 100%;
    padding-left: 8px;
    padding-bottom: 20px;
}
