.dash-content-container{
    width: 100%;
    padding: 10px;
    gap:20px;
    overflow: hidden;
    height: 100vh;
}
.dash-header{
    padding: 10px;
    background-color: var(--primary1-bg);
    border-radius: 10px;
    height: 15%;
    /* height: max-content; */
}
.dash-content{
    background-color: var(--white);
    border-radius:10px;
    padding: 8px;
    height: 90%;
    max-height: 90%;
    overflow: auto;
    justify-content: center;
}
.dash-content::-webkit-scrollbar {
    width: 8px;
}
  
.dash-content::-webkit-scrollbar-thumb {
    background-color:var(--sidebar);
}
.modal-overlay{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.chat-bg{
    background-color: var(--primary_bg);
    padding: 0px;
}
.dash-content .overlay{
    position: relative;
}
.dash-content-container.overlay::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }