.opp-details-container{
    height: 100%;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
}
.opp-details-container{
    overflow: auto;
    max-height: 1500px;
}
.opp-details-container::-webkit-scrollbar {
    width: 8px;
}
  
.opp-details-container::-webkit-scrollbar-thumb {
    background-color:var(--sidebar);
}

.opp-details-content{
    padding-top: 30px;
    overflow: auto;
    max-height: 300px;
}
.opp-details-content::-webkit-scrollbar {
    width: 0px;
}




.opp-details-action-tabs{
    justify-content: space-evenly;
    align-items: center;
}
.opp-tab{
    width:40%;
}
.unselected-tab{
    font-family: var(--font-primary);
    border-radius: 10px;
    background-color: var(--primary_bg);
    padding: 10px;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--stroke_action);
    font-size: 17.485px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.selected-tab{
    font-family: var(--font-primary);
    border-radius: 10px;
    background-color: var(--purple);
    padding: 10px;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--white);
    font-size: 17.485px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.opp-details-container{
    padding-left: 0px 30px;
}