.opp-card-container{
    background: var(--white, #FFF);
    box-shadow: 0px 3.47363px 3.47363px 0px rgba(0, 0, 0, 0.50);
    margin-bottom: 30px;
}

.opp-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    padding: 10px;
  }
  
.opp-grid-item {
    padding: 10px;
}

.opp-card-top{
    padding-top: 20px;
    justify-content: flex-end;
    padding-right: 20px;
}
.opp-date{
    justify-content: center;
}