.hero-content{
    background: url('../../../images/hero-section.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color:var(--white);
}

.content {
    text-align: center;
    color: var(--white); 
    padding: 20px; 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content-desc {
    text-align: center;
    color: var(--white); 
    position: absolute;
    top: 90%;
}

.content h1 {
    font-size: 48px; 
    margin: 0;
    font-weight: 700;
}

.content-desc >p {
    font-family: var(--font-primary);
    font-size: 1.2em;
    margin: 0;
    padding: 20px 20px;
    line-height: 1.2;
    max-width: 700px; 
    margin: 0 auto; 
    text-align: center;
}
.content-desc{
    background-color:rgba(0,0,0,.4); 
    top: 280px;
    bottom: 200px;
}