.tabButton {
    height: 60px;
    min-width: 80px;
    transition: 0.3s ease-in-out;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
    padding: 10px;
  }
  
  .tabButton:hover {
    transition: 0.3s ease-in-out;
  }
  .tabButton p{
    font-weight: normal;
    color:var(--text_primary);
  }
  .selectedMark {
    height: 3px;
    width: 100%;
    border-radius: 1.5px;
    background-color: var(--stroke_action);
    font-weight: 700;
  }
  .bold{
    font-weight: 700;
    color:var(--text_primary);
  }