.title{
    color: var(--text-primary);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 30px;
}
.stream-header{
    padding-left: 30px;
}
.stream-header span{
    font-weight: 700;
    font-size: 18px;
}
.head-content{
    align-items: center;
}