.title{
    color: var(--text-primary);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 30px;
}
.stream-header{
    padding-left: 30px;
}
.stream-header span{
    font-weight: 700;
    font-size: 18px;
}
.head-content{
    align-items: center;
}
.member-icon-search{
    border-color:var(--secondary);
    border-style:solid;
    border-width: 2px;
    box-sizing: border-box;
    color:var(--text_primary);
    outline-color:var(--secondary);
    outline-style: none;
    border-radius: 20px;
    padding-left: 10px;
}