.member-chat-search{
    width: 100%;
    border-color:var(--stroke_primary);
    border-style:groove;
    border-width: 1px;
    box-sizing: border-box;
    color:var(--text_primary);
    outline-color:var(--secondary);
    outline-style: none;
    border-radius: 20px;
}